#quiz_index
  - @decks.each do |deck|
    .deck
      .title=deck.title
      .card_count="#{deck.cards.count} Cards"
      .side
        %a{:href => new_quiz_path(:deck_id => deck.id, :show => 'front')}
          %div="#{deck.front_description} -> #{deck.back_description}"
          -if current_user.present?
            .bestworst 
              Best/Worst Last 5
              .score
                =current_user.best_score(deck.id, false)
                \/
                =current_user.worst_score(deck.id, false)
        .details
          =link_to "Details", quiz_details_user_path(current_user)
      .side
        %a{:href => new_quiz_path(:deck_id => deck.id, :show => 'back')}
          %div="#{deck.back_description} -> #{deck.front_description}"
          -if current_user.present?
            .bestworst 
              Best/Worst Last 5
              .score
                =current_user.best_score(deck.id, true)
                \/
                =current_user.worst_score(deck.id, true)
        .details
          =link_to "Details", quiz_details_user_path(current_user)
.clear
