%body{ :onload => "nextCard('#{next_card_quiz_path(@quiz.id)}')" }
#game_nav
  = link_to_function "Reveal Back", "revealBack('#{card_back_quiz_path(@quiz.id)}')"
  |
  = link_to_function "Next Card", "nextCard('#{next_card_quiz_path(@quiz.id)}')"
%p
  Front: 
  #card_front_value
%p
  Back:
  #card_back_value
