%body{ :onload => "nextCard('#{next_card_quiz_path(@quiz.id)}')" }
#game_nav
  #reveal_back_link{:class => "inline"}
    = link_to_function "Reveal Back", "revealBack('#{card_back_quiz_path(@quiz.id)}')"
    |
  = link_to_function "Next Card", "nextCard('#{next_card_quiz_path(@quiz.id)}')"
#font-adjuster
  %p 
    Text Size:
    =link_to_function "Bigger", "adjust_font(5)"
    |
    =link_to_function "Smaller", "adjust_font(-5)"
#card_front{:class => "card"}
  #card_front_value.card_value
#card_back{:class => "card"}
  #card_back_value.card_value
%p= link_to 'Back to Decks', quiz_index_path
- content_for :js do
  setupQuiz({
  back_path: "#{card_back_quiz_path(@quiz.id)}",
  next_path: "#{next_card_quiz_path(@quiz.id)}"
  });
