#card_front
  Front: 
  #card_front_value
    = @card.front
#card_back
  Back:
  #card_back_value
%p= link_to_function "Reveal Back", "revealBack('#{card_back_quiz_path(@quiz.id)}')"
%p= link_to_function "Next Card", "nextCard('#{next_card_quiz_path(@quiz.id)}')"
