%h1 New deck
%h1 Editing deck
- form_for [:admin, @deck] do |f|
  - if @deck.errors.any?
    #error_explanation
      %h2
        = pluralize(@deck.errors.count, "error")
        prohibited this deck from being saved:
      %ul
        - @deck.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
    %br/
    = f.label :front_description
    %br/
    = f.text_field :front_description
    %br/
    = f.label :back_description
    %br/
    = f.text_field :back_description
    %br/
    = f.label "Enter one card per row, and separate front and back by a '|' (pipe) character."
    %br/
    = f.text_area :bulk_cards
    %br/
  .actions
    = f.submit
= link_to 'Back', admin_decks_path
