%p#notice= notice
%p
  %b Title:
  = @deck.title
%p
  %b Front Description:
  = @deck.front_description
%p
  %b Back Description:
  = @deck.back_description

%table.deck-card-table
  -@deck.cards.each do |card|
    %tr
      %td=card.front
      %td=card.back

= link_to 'Edit', edit_admin_deck_path(@deck)
|
\#{link_to 'Back', admin_decks_path}
