%h1 Editing deck
- form_for @deck do |f|
  - if @deck.errors.any?
    #error_explanation
      %h2
        = pluralize(@deck.errors.count, "error")
        prohibited this deck from being saved:
      %ul
        - @deck.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  #cards_fields
    =render :partial => 'card', :collection => @deck.cards
  %p
    = link_to_function("add a card"){ |page| page.insert_html :bottom, :cards_fields, :partial => 'card', :object => Card.new }
  .actions
    = f.submit
= link_to 'Show', @deck
|
\#{link_to 'Back', decks_path}
