!!!
%html
  %head
    %title Flashcards
    = include_javascripts :libs
    = include_javascripts :all
    = include_stylesheets :all
    = javascript_tag "#{js_init} document.observe('dom:loaded', function() { #{js_dom_loaded} #{yield :js}; #{js_after_yield} });"
    = csrf_meta_tag
  %body
    #logo
      Thai Flashcards
    #main
      - if flash[:error].present?
        #flash-error
          %ul
            %li= flash[:error]
      - if flash[:notice].present?
        #flash-notice
          %ul
            %li= flash[:notice]
      #site_nav
        =link_to "Home", root_path
        |
        - if current_user
          =link_to "My Profile", profile_user_path(:current)
          |
          =link_to "Logout", logout_path
        - else
          =link_to "Register", new_user_path
          |
          =link_to "Log In", login_path
      = yield
